<a href="https://colab.research.google.com/github/AlainWalbar/database/blob/main/Week_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/my_db.db/")
print(my_conn.name)

sqlite

In [ ]:
r_set=my_conn.execute('''select name from sqlite_master where type = 'table' ''')
for row in r_set:
  print(row)

('category',)
('subcategory',)
('student',)

In [ ]:
from sqlalchemy.exc import SQLAlchemyError
try:
  my_conn.execute('''DROP table student;''')
  print("student table deleted")
except SQLAlchemyError as e:
  error = str(e._dict_['orig'])
  print(error)

student table deleted

In [ ]:
with open("student_tables.sql", "r") as file:
  query = file.read()
  my_conn.execute(query)

In [ ]:
with open("student_insert.sql","r") as file:
  query = file.read()
  my_conn.execute(query)

In [ ]:
r_set = my_conn.execute('''SELECT * FROM student''');
for row in r_set:
  print(row)

(1, 'John Deo', 'Four', 75, 'female')
(2, 'Max Ruin', 'Three', 85, 'male')
(3, 'Arnold', 'Three', 55, 'male')
(4, 'Krish Star', 'Four', 60, 'female')
(5, 'John Mike', 'Four', 60, 'female')
(6, 'Alex John', 'Four', 55, 'male')
(7, 'My John Rob', 'Five', 78, 'male')
(8, 'Asruid', 'Five', 85, 'male')
(9, 'Tes Qry', 'Six', 78, 'male')
(10, 'Big John', 'Four', 55, 'female')
(11, 'Ronald', 'Six', 89, 'female')
(27, 'Big Nose', 'Three', 81, 'female')
(28, 'Rojj Base', 'Seven', 86, 'female')
(29, 'Tess Played', 'Seven', 55, 'male')
(30, 'Reppy Red', 'Six', 79, 'female')
(31, 'Marry Toeey', 'Four', 88, 'male')
(32, 'Binn Rott', 'Seven', 90, 'female')
(33, 'Kenn Rein', 'Six', 96, 'female')
(34, 'Gain Toe', 'Seven', 69, 'male')
(35, 'Rows Noump', 'Six', 88, 'female')

In [ ]:
from sqlalchemy.exc import SQLAlchemyError
q="UPDATE student SET mark=mark+1"
try:
  r_set=my_conn.execute(q)